#cloud-config
package_upgrade: true
package_upgrade: true

hostname: {{hostname}}
fqdn: {{fqdn}}

manage_etc_hosts: true

groups:
  - docker: [root,sys,wheel]
  - cloud-users

users:
  - default
  - name: {{user}}
    primary_group: docker
    groups: docker, wheel
    lock_passwd: false
    passwd: {{image_default_password}}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ vm_public_key }}

packages:
 - python3
 - device-mapper-persistent-data
 - yum-utils
 - lvm2
 
 growpart:
  mode: auto
  devices: ['/']
  ignore_growroot_disabled: false