#cloud-config
#package_upgrade: true

hostname: {{hostname}}
fqdn: {{fqdn}}

manage_etc_hosts: true

groups:
  - docker: [root,sys,wheel]
  - cloud-users


users:
  - default
  - name: {{user}}
    primary_group: docker
    groups: docker, wheel
    lock_passwd: false
    passwd: {{image_default_password}}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ vm_public_key }}
  - name: root
    primary_group: docker
    groups: docker, root
    lock_passwd: false
    passwd: {{image_default_password}}
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - {{ vm_public_key }}
  